*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: "Cardo",Arial,sans-serif;
    
} 

nav{
    height: 80px;
    width: 100%;
   
}  

label.logo {
    color: #ffffff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
} 

nav ul{
    float: right;
    margin-right: 20px;
    
} 

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
} 

nav ul li a{
    color: #ffffff;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
} 

a.active, a:hover{
    background:#000000;
    transition: .5s;
} 

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
} 

#check{
    display: none;
} 

@media(max-width:858px){  
    
    .checkbtn{
       display: block;
    } 

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center; 
        transition: all .5s;
    } 
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;


    } 
    nav ul li a{
        font-size: 20px;
    } 

    a:hover, a.active{
        background: none;
        color: #0082e6;
    } 
    #check:checked ~ ul{
        left: 0;
    }
    
} 

header{
   
    background: url('../images/Peter.jpg') no-repeat;
    height: 800px;
    background-size: cover;
   
} 

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .container {
    padding-top: 60px;
  } 

  /* Color Change*/
  nav.scrolled {
    background: #0a0a0a;
  } 

  section{
    padding: 300px 550px;
    font-size: 4rem;
    color: #ffffff;
} 
section h6{
  
    font-size: 2rem;
    padding-left: 180px;
    
}


